{{define "index"}}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="index">
         <h1 class="title">Bienvenue dans Cyber Golanta 2077</h1>
        <div class="select">
            <div class="box">
                <a class="text" href="/create">Creation personnage</a>
            </div>
            <div class="box">
                    <a class="text" href="/perso">Liste personnage</a>
            </div>
        </div>
    </div>
</body>
</html>
{{end}}